{% extends '../shared/layoutAdmin.html' %}

{% block content %}

<link href="/libs/fuelux/dist/css/fuelux.min.css" rel="stylesheet"/>
<link href="/libs/sweetalert/dist/sweetalert.css" rel="stylesheet"/>
<link href="/libs/form.validation/dist/css/formValidation.min.css" rel="stylesheet"/>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>编辑文章</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <form id="postForm" action="/admin/saveArticle" method="post">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label for="Title">标题</label>
                                    <input id="Title" type="text" name="Title" placeholder='请输入标题' class="form-control" value="{{post.Title}}"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="CategoryId" style="display:block;">分类</label>
                                    <div id="Categorylist" data-resize="auto" data-initialize="selectlist" class="btn-group selectlist">
                                        <button data-toggle="dropdown" type="button" class="btn btn-white dropdown-toggle"><span class="selected-label"></span><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
                                        <ul role="menu" class="dropdown-menu"></ul>
                                        <input id="CategoryId" type="text" name="CategoryId" readonly="readonly" aria-hidden="true" class="hidden hidden-field" value="@post.CategoryId"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label for="Alias">Alias</label>
                                    <input id="Alias" type="text" name="Alias" placeholder='请输入Alias' class="form-control" value="{{post.Alias}}"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <button type="button" class="btn btn-sm btn-white btn-alias">
                                        <i class="fa fa-flash"></i> 根据标题自动生成
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Summary">摘要</label>
                            <textarea id="Summary" name="Summary" style="min-width: 100%;max-width: 100%;" placeholder='请输入摘要' class="form-control">{{post.Summary}}</textarea>
                        </div>
                        <div class="form-group">
                            <label style="display:block;">来源</label>
                            <label id="soruceLocal" data-initialize="radio" class="radio-custom radio-inline">
                                <input data-toggle="#block-local" name="Source" type="radio" value="0" checked="checked" class="sr-only"/> 本地
                            </label>
                            <label id="soruceLink" data-initialize="radio" class="radio-custom radio-inline">
                                <input data-toggle="#block-link" name="Source" type="radio" value="1" class="sr-only"/> 外链
                            </label>
                        </div>
                        <div id="block-local">
                            <div class="form-group">
                                <label for="pillbox-input">标签</label>
                                <div id="myPillbox" data-initialize="pillbox" class="pillbox">
                                    <ul class="clearfix pill-group">
                                        <li class="pillbox-input-wrap btn-group"><a class="pillbox-more">and<span class="pillbox-more-count"></span> more...</a>
                                            <input id="pillbox-input" type="text" placeholder='回车新增' class="form-control dropdown-toggle pillbox-add-item"/>
                                            <button type="button" class="dropdown-toggle sr-only"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
                                            <ul role="menu" data-toggle="dropdown" data-flip="auto" class="suggest dropdown-menu"></ul>
                                        </li>
                                    </ul>
                                </div>
                                <input id="Labels" type="hidden" name="Labels" value="{{post.Labels}}"/>
                            </div>
                            <div class="form-group">
                                <label>正文</label>
                                <script id="editor" type="text/plain">{% autoescape false %}{{ post.Content }}{% endautoescape %}</script>
                            </div>
                        </div>
                        <div id="block-link">
                            <div class="form-group">
                                <label for="Url">Url</label>
                                <input id="Url" type="text" name="Url" placeholder='请输入链接地址' class="form-control" value="{{post.Url}}"/>
                            </div>
                        </div>
                        <div>
                            <button id="btnUpdate" type="submit" class="btn btn-primary">
                                <i class="fa fa-cloud-upload"></i> 更新
                            </button>
                            <a href="/admin/articlemanage" class="btn btn-white">
                                <i class="fa fa-reply"></i> 返回
                            </a>
                            <input id="UniqueId" type="hidden" name="UniqueId" value="{{post._id}}"/>
                            <input id="IsDraft" type="hidden" name="IsDraft" value='{{post.IsDraft ? "True" : "False"}}'/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/libs/jquery/dist/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/libs/bootstrap/dist/js/bootstrap.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/libs/form.validation/dist/js/formValidation.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/libs/form.validation/dist/js/framework/bootstrap.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/libs/form.validation/dist/js/language/zh_CN.js" charset="utf-8"></script>
<script type="text/javascript" src="/libs/metisMenu/dist/metisMenu.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/js/admin.js" charset="utf-8"></script>
<script type="text/javascript" src="/libs/ueditor/ueditor.config.js" charset="utf-8"></script>
<script type="text/javascript" src="/libs/ueditor/ueditor.all.js" charset="utf-8"></script>
<script type="text/javascript" src="/libs/ueditor/dialogs/insertalert/insertalert.js" charset="utf-8"></script>
<script type="text/javascript" src="/libs/ueditor/dialogs/inserticon/inserticon.js" charset="utf-8"></script>
<script type="text/javascript" src="/libs/ueditor/dialogs/insertlabel/insertlabel.js" charset="utf-8"></script>
<script type="text/javascript" src="/libs/fuelux/dist/js/fuelux.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/libs/sweetalert/dist/sweetalert.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/libs/js-md5/js/md5.min.js" charset="utf-8"></script>
<script>
    var categoryId = '{{post.CategoryId}}';
    var source = '{{post.Source}}';
    var translateKey = '{{config.TranslateKey}}';
</script>
<script type="text/javascript" src="/js/editarticle.js" charset="utf-8"></script>

{% endblock %}

